@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 1rem;
}

p{
    font-size: 12px;
}
 
.top-bar{
    background-color: rgb(255, 255, 255);
    z-index: 10;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.116);
}

#button-instructions{
    font-size: 11px;
    font-weight: 800;
    color: #074faf;
}

#random-image{
    z-index: 10;
    text-align: center;
    border:none;
    min-height: 50px;
    background-image: url(./assets/swirly3.svg);
    background-size: cover;
    background-color: transparent;
    width: 7vw;
    min-width: 60px;
    max-width: 90px;
    height: 7vw;
    min-height: 60px;
    max-height: 90px;
    color: white;
    transition: transform 5s;
}

#random-image:hover{
    transform: scale(2);
    transform: rotate(-360deg);
}

#random-image:active{
    transform: scale(.9);
    transform: rotate(360deg);
    
}
.card-standard{
    height: 15rem;
    min-width: 400px;
    text-align: center;
    background-size: cover;
    flex-direction: row;
    transition-property: transform;
    transition-duration: 500ms;
    border: none;
}

.card-overlay{
    height: 100%;
    min-width: 400px;
    background-color: rgba(0, 0, 0, 0.609);
    position: absolute;
    width: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 500ms;
    color: white;
    
}

.overlayTextContainer{
    max-height: 82.3%
}

.card-overlay:hover{
    opacity: 1;
}

.card-standard:hover, :focus{
    transform: scale(1.1, 1.1);
    z-index: 4;
}       

.card-title{
    height: 2rem;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.609);
    color: white;
    z-index: 5;
}



.fade-start{
    opacity: 0;

}

.fade-end{
    opacity: 1;
    transition-duration: .7s;
    transition-property: opacity;
}